
<footer class="text-center text-lg-start footer-color">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-md-0 text-white">
                <p>
                    CineMovie, filmler hakkında genel bilgi edinebileceğiniz,
                    sinema dünyasındaki gelişmeleri takip edebileceğiniz,
                    tüm sinemaseverlerin yorumlarına ve katılımına açık bir buluşma noktasıdır.Filmler
                    hakkında yorum yazabilmek için üye olmalısınız. Üyelik ücretsizdir.
                    Film isimlerine tıkladığınızda, filmin sayfasına ulaşırsınız. Bu sayfada filmin özetini, türünü, gösterim tarihini,
                    fotoğraflarını, yüklenmişse filmin fragmanını izleyebilirsiniz
                </p>
                <img src="~/Content/images/ticket.png"/>
            </div>
            <div class="col-lg-3 col-md-6 mb-md-0">

                <ul class="list-unstyled mb-0">
                    
                    
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-md-0">
                <h5 class="text-white mb-0"></h5>

                <ul class="list-unstyled">
                    <li class="mt-2">
                        <a href="/Home/Hakkımızda" class="text-white mt-2">Hakkımızda</a>
                        
                    </li>
                    <li class="mt-2">
                        <a href="/Home/Contact" class="text-white mt-2">İletişim</a>
                    </li>
                    <li class="mt-2">
                        <a href="/Home/Yardım" class="text-white">Yardım</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 white" style="background-color: rgba(0, 0, 0, 0.2)">
        
        <a class="text-white" href="~/Views/Home/Index.cshtml"> © 2021 Copyright CineMovie</a>
    </div>
</footer>
