@model sinemovie.Models.IEnumerable.MoviesComments
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .ex1 {
        width: auto;
        overflow-x: hidden;
    }
</style>
<h5 class="ml-3 font-weight-bold">Oyuncular</h5>
<div class="ex1 mb-5">
    @foreach (var x in Model.Actors)
    {
            <div class="card m-3 d-inline-flex border-0" style="width:130px">
                <a href="#" target="_self">
                    <img class="card-img-top rounded" src="@x.poster" alt="Card image">
                </a>
                <div class="card-img-bottom" style="text-align: center">
                    <h4 class="card-title text-size">@x.name</h4>
                </div>
            </div>

    }
</div>
