USE [master]
GO
/****** Object:  Database [sinemovie]    Script Date: 24.01.2021 22:08:15 ******/
CREATE DATABASE [sinemovie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sinemovie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sinemovie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sinemovie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sinemovie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sinemovie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sinemovie]
GO
/****** Object:  Table [dbo].[actors]    Script Date: 24.01.2021 22:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[poster] [nchar](250) NOT NULL,
	[movie_id] [int] NOT NULL,
	[biography] [nchar](2500) NULL,
	[gender] [nchar](10) NULL,
	[age] [int] NULL,
	[country] [nchar](50) NULL,
 CONSTRAINT [PK_actors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 24.01.2021 22:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](10) NOT NULL,
	[comment] [nchar](2500) NOT NULL,
	[movie_id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 24.01.2021 22:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[release_date] [nchar](20) NOT NULL,
	[time] [nchar](20) NOT NULL,
	[genre] [nchar](20) NOT NULL,
	[director] [nchar](20) NOT NULL,
	[summary] [nchar](2500) NOT NULL,
	[poster] [nchar](250) NOT NULL,
	[fragman] [nchar](250) NOT NULL,
 CONSTRAINT [PK_movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 24.01.2021 22:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](10) NOT NULL,
	[password] [nchar](16) NOT NULL,
	[email] [nchar](50) NOT NULL,
	[role] [nchar](1) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[actors] ON 

INSERT [dbo].[actors] ([id], [name], [poster], [movie_id], [biography], [gender], [age], [country]) VALUES (3, N'Sam Claflin                                       ', N'https://www.themoviedb.org/t/p/original/5DtmRlRZc7wPbat1INQPqsxaH4a.jpg                                                                                                                                                                                   ', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[actors] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

SET IDENTITY_INSERT [dbo].[movies] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [email], [role]) VALUES (3, N'admin     ', N'admin           ', N'admin@gmaii.com                                   ', N'A')
INSERT [dbo].[users] ([id], [username], [password], [email], [role]) VALUES (5, N'asd       ', N'e390198c        ', N'SADAS                                             ', N'U')
INSERT [dbo].[users] ([id], [username], [password], [email], [role]) VALUES (6, N'cinemovie ', N'76fe13ae        ', N'bos1isicin@gmail.com                              ', N'U')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [FK_actors]    Script Date: 24.01.2021 22:08:16 ******/
CREATE NONCLUSTERED INDEX [FK_actors] ON [dbo].[actors]
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_comments]    Script Date: 24.01.2021 22:08:16 ******/
CREATE NONCLUSTERED INDEX [FK_comments] ON [dbo].[comments]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_users]    Script Date: 24.01.2021 22:08:16 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [FK_users] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[actors]  WITH CHECK ADD  CONSTRAINT [FK_actors_movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([id])
GO
ALTER TABLE [dbo].[actors] CHECK CONSTRAINT [FK_actors_movies]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_movies1] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_movies1]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_users1] FOREIGN KEY([username])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_users1]
GO
USE [master]
GO
